
.header{
 /* position: relative; */
 padding: .5em 1em;
 border: 1px solid var(--text-gray);

}
.header div{
 display: flex;
 justify-content: space-between;
}
.header__check{
    display: none;
}
.header__label{
 display: none;
 padding: .5em;
 /* border-right: 1px solid var(--primary) ; */
}
.header__label:hover{
 /* cursor: pointer; */
 background-color: rgb(0,0,0,0.2);
}
.header__icon{
 width: 40px;   
 height: 40px; 
}
.header__logo{
 padding: .5em 0;
 color: var(--primary);
 text-decoration: none;
}
.header__logo-title{
}
.header__nav{
 padding: 1em;
 display: flex;
}
.header__list{
 display: flex;
 flex-wrap: wrap;
 gap: 2em;
}
.header__item,
.header__item-content{
 display: flex;
 gap: .5em;
 justify-content: center;
 align-items: center;
 color: var(--text-gray);
}
.header__item:hover{
 cursor: pointer;
 /* background-color: rgb(0,0,0,0.1); */
 color: blue;
}
/* .header__item{
 display: flex;
} */
.header__item-content{
 text-decoration: none;
 border-right: 1px solid var(--text-gray);
 padding-right: 1em ;
}
.active-link{
 background-color: black;
}
.item__icon{
 font-size: 25px;
}
.item__label{
 color: var(--primary);
}

